__pycache__
*.pyc
*.pyo
.mypy_cache
.pytest_cache
.venv
*.egg-info
/build
/dist
.coverage
node_modules

*.swp
*~
.DS_Store

*.sqlite3

/logs
/extensions/*/web-ext-artifacts
/extensions/bookmarks/public

/server/static/bundle/*
